
<footer class="footer">
  <!-- Primera fila: información de contacto centrada -->
  <div class="footer__contact">
      <h4 >Información de Contacto</h4>
      <p><span class="footer__contact-icon">📞</span> Teléfono: (952) 456789</p>
      <p><span class="footer__contact-icon">✉️</span> Email: info@ciberseguridad.com</p>
      <p><span class="footer__contact-icon">📍</span> Dirección: Av. Andalucía, 14, Málaga, España</p>
  </div>

  <!-- Línea horizontal -->
  <hr class="linea-horizontal">

  <!-- Segunda fila: logo a la izquierda, navegación en el centro, redes sociales a la derecha -->
  <div class="footer__grid">
      <div class="footer__logo">
          <img src="./assets/images/logo.png" alt="Logo Footer" width="70px" height="70px">
      </div>
      <div class="footer__nav">
          <ul>
              <li class="footer__nav__item"><a href="./index.html">Home</a></li>
              <li class="footer__nav__item"><a href="./speakers.html">Speakers</a></li>
              <li class="footer__nav__item"><a href="./blog.html">Blog</a></li>
              <li class="footer__nav__item"><a href="./galeria.html">Galería</a></li>
          </ul>
      </div>
      <div class="footer__social">
          <a href="#"><img src="./assets/images/twitter.svg" alt="Twitter"></a>
          <a href="#"><img src="./assets/images/instagram.svg" alt="Instagram"></a>
          <a href="#"><img src="./assets/images/youtube.svg" alt="Youtube"></a>
      </div>
  </div>
</footer>
