
<header class="header">
    <div class="header__logo">
        <img src="./assets/images/logo.png" alt="Logo Jornadas de Seguridad" width="200px" height="350px">
    </div>
    <nav class="header__nav">
        <ul>
            <li class="header__nav__item"><a href="./speakers.html">Speakers</a></li>
            <li class="header__nav__item"><a href="./blog.html">Blog</a></li>
            <li class="header__nav__item"><a href="./galeria.html">Galería</a></li>
        </ul>
    </nav>
</header>
