
// Cambia el color primario de Bootstrap
$primary: #06c; // Un tono de azul personalizado

// Cambia el tamaño del botón de Bootstrap
$btn-padding-y: 0.25rem;

$btn-padding-x: 0.75rem;

$btn-font-size: 0.875rem;
